@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

$nav-color: #383e4c;
$nav-text-color: white;
$main-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
