.parallax {
  /* The image used */
  background-image: url('../public/img/bg-1.jpg');

  &.bg2 {
    background-image: url('../public/img/bg-2.jpg');
    min-height: 20vh;
    margin-bottom: 5rem;
  }

  /* Set a specific height */

  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}
