.sectionOne {
  @apply container flex flex-col justify-center items-center text-white overflow-hidden;

  padding: 17rem 0;

  @screen sm {
    padding: 20rem 0;
  }

  h1 {
    @apply text-7xl mb-3;
    text-shadow: 2px 2px #000;
  }
  h2 {
    @apply text-3xl;
  }
}

.sectionAbout {
  @apply container;

  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin: 2rem auto;
  overflow: hidden;

  .sectionAbout-top {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  .sectionAbout-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @screen md {
      flex-direction: row;
    }

    h1 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-align: center;
      color: #666666;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
