.sectionOne {
  @apply container flex flex-col justify-center items-center text-white overflow-hidden;

  padding: 17rem 0;

  @screen sm {
    padding: 20rem 0;
  }

  h1 {
    @apply text-7xl mb-3;
    text-shadow: 2px 2px #000;
  }
  h2 {
    @apply text-3xl;
  }
}

.sectionAbout {
  @apply container;

  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin: 2rem auto;
  overflow: hidden;

  .sectionAbout-top {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  .sectionAbout-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @screen md {
      flex-direction: row;
    }

    h1 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-align: center;
      color: #666666;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

.sectionServices {
  overflow: hidden;
  margin: 2rem auto;

  .services-banner {
    @apply container flex flex-col justify-center items-center
    text-white;

    height: 30vh;
    width: 100%;
    padding: 0;
    text-align: center;

    @screen lg {
      padding: 0 25rem;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .services-content {
    @apply container my-10;

    width: 100%;

    .services-content-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      h1 {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        color: #666666;
      }

      p {
        margin-bottom: 1rem;
      }
    }

    .services-content-bottom {
      h1 {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: #666666;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.sectionContact {
  overflow: hidden;
  margin: 2rem auto;

  .contact-content {
    @apply container flex flex-col justify-center text-white;

    padding: 5rem 1rem;

    @screen md {
      padding: 5rem 10rem;
    }

    @screen xl {
      padding: 5rem 23rem;
    }

    h1 {
      @apply text-5xl mb-3;
      text-shadow: 2px 2px #000;
      text-align: center;
    }

    .contact-banner {
      background-color: white;
      opacity: 0.5;
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;
      border-radius: 8px;

      p {
        color: black;
        font-weight: 500;
        text-align: center;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;

      @screen md {
        flex-direction: row;
        justify-content: space-between;
      }

      .contact-form-info {
        display: flex;
        flex-direction: column;
        width: 100%;

        @screen md {
          width: 48%;
        }

        input {
          width: 100%;
          padding: 0.3rem 1rem;
          color: black;
          opacity: 0.5;
          border-radius: 4px;
          margin-bottom: 1rem;

          ::placeholder {
            color: black;
            opacity: 1;
          }
        }
      }

      .contact-form-msg {
        width: 100%;

        @screen md {
          width: 48%;
        }

        textarea {
          width: 100%;
          min-height: 10rem;
          padding: 0 1rem;
          color: black;
          border-radius: 4px;
          opacity: 0.5;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
