.sectionOne {
  @apply container flex flex-col justify-center items-center text-white overflow-hidden;

  padding: 17rem 0;

  @screen sm {
    padding: 20rem 0;
  }

  h1 {
    @apply text-7xl mb-3;
    text-shadow: 2px 2px #000;
  }
  h2 {
    @apply text-3xl;
  }
}

.sectionAbout {
  @apply container;

  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  .sectionAbout-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h1 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
}
